<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="~/Assets/Styles/app.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo">
            E-Learning Resources
        </div>
        <nav>
            @Html.ActionLink("Home", "Home")
            @Html.ActionLink("Login", "Login")
            @Html.ActionLink("Logout", "Home")
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <script src="~/Assets/Scripts/app.js"></script>
</body>
</html>
