@model App.Models.Material

@{
    ViewBag.Title = "Material Details";
}

<h4>Material</h4>

<dl>
    <dt>
        @Html.DisplayNameFor(model => model.Type)
    </dt>
    
    <dd>
        @Html.DisplayFor(model => model.Type)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    
    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.Url)
    </dt>
    
    <dd>
        @Html.DisplayFor(model => model.Url)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.CreatedAt)
    </dt>
    
    <dd>
        @Html.DisplayFor(model => model.CreatedAt)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.UpdatedAt)
    </dt>
    
    <dd>
        @Html.DisplayFor(model => model.UpdatedAt)
    </dd>
</dl>

@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
@Html.ActionLink("Back to List", "Index")
